<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>World Best Palindrome Checker Part 2</title>
        <link rel="stylesheet" href="/public/css/site.css" type="text/css">
    </head>

    <body>
        <main class="container">

            {{{body}}}

        </main>
    </body>

    <footer>
        &copy;Ravi Patel. CWID &colon; 10432313.
    </footer>
    <script src="/public/js/forms.js"></script>
</html>