body {
    background-color: tan;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

form {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: bolder;
}

.is-palindrome {
    color: #0000ff;
}

.not-palindrome {
    color: #ff0000;
}

.result-container {
    overflow: auto;
}