<header>
    <h1>The Best Palindrome Checker in the World Part 2!</h1>
</header>
<div>
    <form id="input-form" method="POST" action="/result">
            <div>
                <label for="phrase">Enter Phrase to Test:</label><br>
                <input type="text" name="phrase" id="phrase" placeholder="Enter phrases here." value="{{phrase}}">
            </div>            
            <div>
                <button type="submit" >Submit</button>
            </div>
            <div id='result'></div>
            <div id="result-container">
                <ol id="attempts"></ol>
            </div>
    </form>
</div>
